* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.md text eol=lf
*.npz binary
*.npy binary
*.pkl binary
*.gz binary
*.xlsx binary
*.pdf binary
*.png binary
